 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(to bottom, rgba(28, 12, 12, 1), rgba(0, 0, 0, 1));
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 358px;
}

.u-section-1 .u-image-1 {
  width: 427px;
  height: 327px;
  margin: 21px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-family: AtlantisInternational;
  line-height: 1;
  font-size: 1.5rem;
  margin: -327px 38px 0 471px;
}

.u-section-1 .u-icon-1 {
  margin-top: 0;
  font-size: 0.8334em;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-family: AtlantisInternational;
  transition-duration: 0.5s;
  line-height: 1;
  font-size: 1.5rem;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 20px 21px 60px 471px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 37px;
    margin-left: 470px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 20px;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 437px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 437px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-bottom: 21px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 260px;
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  transform: translateX(0px) translateY(-3px) !important;
  text-decoration: underline !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  transform: translateX(0px) translateY(-3px) !important;
  text-decoration: underline !important;
}.u-section-2 .u-sheet-1 {
  min-height: 286px;
}

.u-section-2 .u-image-1 {
  width: 564px;
  height: 263px;
  margin: 10px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 126px;
  height: 141px;
  margin: -202px 183px 60px auto;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 10px;
    margin-bottom: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 252px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 25px;
    margin-right: 106px;
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 159px;
  }

  .u-section-2 .u-image-2 {
    width: 109px;
    height: 122px;
    margin-right: 61px;
    margin-bottom: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 406px;
}

.u-section-3 .u-image-1 {
  width: 452px;
  height: 386px;
  animation-timing-function: ease;
  margin: 10px 75px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 223px;
  height: 300px;
  margin: -343px auto 53px 117px;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 8px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-bottom: 43px;
    margin-left: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-3 .u-image-1 {
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 290px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-bottom: 43px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 233px;
}

.u-section-4 .u-image-1 {
  width: 233px;
  height: 233px;
  margin: 0 auto;
}@font-face {
  font-family: 'AtlantisInternational';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/AtlantisInternational.ttf);
}